<template name="employees">
  {{#if isInRole 'admin'}}
    <h3>Add Employee Records!</h3>
    <form class="add-employee">
      <div class="ui grid">
        <div class="sixteen wide column">
          <div class="ui small form">
          <!-- <form class="ui large form"> -->
            <div class="two fields">
              <div class="field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Add Employee Name">
              </div>
              <div class="field">
                <label>Employee No</label>
                <input type="text" name="empno" placeholder="Add Employee No">
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <label>Email</label>
                <input type="text" name="email" placeholder="Add Employee Email">
              </div>
              <div class="field">
                <label>Contact</label>
                <input type="text" name="contact" placeholder="Add Employee Contact">
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <label>Position</label>
                <input type="text" name="position" placeholder="Add Employee Position">
              </div>
              <div class="field">
                <label>Leave Consumed</label>
                <input type="text" name="leaveconsumed" placeholder="Add Leave Comsumed">
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <label>Leave Balance</label>
                <input type="text" name="leavebalance" placeholder="Add Leave Balance">
              </div>
              <div class="field">
                <label>Join Date</label>
                <input type="date" name="joindate" placeholder="Add Join Date">
              </div>
            </div>
            <button class="big ui green button" type="submit">Submit</button>
          </div>
         </div>
       </div>
    </form>
  {{/if}}
  <hr />
</template>
